<%- include('../userLayout/header.ejs')%>

    <%- include('../userLayout/head.ejs') %>
    <%- include('../userLayout/accountSidebar.ejs')  %>


<div>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>NAME</th>
        <th>Email</th>
        <th>MOBILE</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
  </table>
  <a href="/shop" class="btn btn-outline-primary-2"
    ><span>GO SHOP</span><i class="icon-long-arrow-right"></i
  ></a>
</div>
<!-- .End .tab-pane -->



<%- include('../userLayout/accountfooter.ejs')  %>

<%- include('../userLayout/footer.ejs') %>